In [1]:
# import libraries

import pandas as pd
import os
from keplergl import KeplerGl
from pyproj import CRS
import numpy as np
from matplotlib import pyplot as plt

In [2]:
#set path
path = r'C:\Users\nrsmi\Documents\CareerFoundry\New_York_CitiBike_Analysis'

In [3]:
# import df
df = pd.read_csv(os.path.join(path, 'Data', 'Prepared_Data', 'Weather_DailyBikeRides_RideDuration_cleaned.csv'), index_col = 0 )

C:\Users\nrsmi\AppData\Local\Temp\ipykernel_18272\2100087590.py:2: DtypeWarning: Columns (7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(path, 'Data', 'Prepared_Data', 'Weather_DailyBikeRides_RideDuration_cleaned.csv'), index_col = 0 )

In [4]:
df.head()

,date,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,avgTemp,bike_rides_daily,ride_duration
0,2022-01-01,4A091640AEC83471,classic_bike,2022-01-01 16:01:22.082,2022-01-01 16:05:11.986,S 4 St & Wythe Ave,5204.05,Kent Ave & S 11 St,5062.01,40.712859,-73.965903,40.707645,-73.968415,member,11.6,20428,3.831733
1,2022-01-01,7A560D6287C00126,classic_bike,2022-01-01 14:07:04.344,2022-01-01 14:31:57.500,Lexington Ave & E 120 St,7652.04,Amsterdam Ave & W 125 St,7800.03,40.801307,-73.939817,40.813358,-73.956461,member,11.6,20428,24.885933
2,2022-01-01,4F6F726B809C15E4,classic_bike,2022-01-01 12:02:26.943,2022-01-01 12:14:13.555,Lexington Ave & E 120 St,7652.04,Amsterdam Ave & W 125 St,7800.03,40.801307,-73.939817,40.813358,-73.956461,member,11.6,20428,11.776867
3,2022-01-01,3BC10DC94FD79955,classic_bike,2022-01-01 22:53:23.508,2022-01-01 23:18:42.881,Cleveland Pl & Spring St,5492.05,Mott St & Prince St,5561.04,40.722104,-73.997249,40.723180,-73.994800,member,11.6,20428,25.322883
4,2022-01-01,FE4CE7F1CFFD7952,classic_bike,2022-01-01 08:04:51.755,2022-01-01 08:08:07.290,Central Park North & Adam Clayton Powell Blvd,7617.07,E 110 St & Madison Ave,7587.14,40.799484,-73.955613,40.796154,-73.947821,member,11.6,20428,3.258917

In [5]:
df.shape

(29767925, 17)

# 3. In the data set from the previous task, create a new column with the value of 1. Then create a new aggregated dataframe that contains 3 columns: starting station, ending station, and the count of trips between those stations.

In [7]:
# Create a value column and group by start and end station 

df['value'] = 1
df_group = df.groupby(['start_station_name', 'end_station_name'])['value'].count().reset_index()

In [8]:
df_group

            start_station_name       end_station_name  value
0             1 Ave & E 110 St       1 Ave & E 110 St    791
1             1 Ave & E 110 St        1 Ave & E 18 St      2
2             1 Ave & E 110 St        1 Ave & E 30 St      4
3             1 Ave & E 110 St        1 Ave & E 39 St      1
4             1 Ave & E 110 St        1 Ave & E 44 St     12
...                        ...                    ...    ...
1013374  Yankee Ferry Terminal     Water St & Main St      4
1013375  Yankee Ferry Terminal  West St & Chambers St      6
1013376  Yankee Ferry Terminal   West St & Liberty St      4
1013377  Yankee Ferry Terminal         West Thames St      1
1013378  Yankee Ferry Terminal  Yankee Ferry Terminal   5759

[1013379 rows x 3 columns]

In [9]:
print(df_group['value'].sum())
print(df.shape)

29767925
(29767925, 18)

In [10]:
#df_group.to_csv(os.path.join(path, 'Data','Prepared_Data', 'start_end_station_trip_count.csv'))

# 4. Initialize an instance of a kepler.gl map.

In [12]:
# Create a new DataFrame with the necessary columns
df_stations = df[['start_station_name', 'end_station_name', 'start_lat', 'start_lng', 'end_lat', 'end_lng']]

In [13]:
df_stations.head()

,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng
0,S 4 St & Wythe Ave,Kent Ave & S 11 St,40.712859,-73.965903,40.707645,-73.968415
1,Lexington Ave & E 120 St,Amsterdam Ave & W 125 St,40.801307,-73.939817,40.813358,-73.956461
2,Lexington Ave & E 120 St,Amsterdam Ave & W 125 St,40.801307,-73.939817,40.813358,-73.956461
3,Cleveland Pl & Spring St,Mott St & Prince St,40.722104,-73.997249,40.723180,-73.994800
4,Central Park North & Adam Clayton Powell Blvd,E 110 St & Madison Ave,40.799484,-73.955613,40.796154,-73.947821

In [14]:
# Merge the station df with the grouped df
df_stations = pd.merge(
    df_stations,
    df_group.rename(columns={'value': 'trips'}),
    on=['start_station_name', 'end_station_name'],
    how='left'  # Use 'left' to ensure all rows from df_stations are retained
)

In [15]:
df_stations.head()

,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,trips
0,S 4 St & Wythe Ave,Kent Ave & S 11 St,40.712859,-73.965903,40.707645,-73.968415,94
1,Lexington Ave & E 120 St,Amsterdam Ave & W 125 St,40.801307,-73.939817,40.813358,-73.956461,74
2,Lexington Ave & E 120 St,Amsterdam Ave & W 125 St,40.801307,-73.939817,40.813358,-73.956461,74
3,Cleveland Pl & Spring St,Mott St & Prince St,40.722104,-73.997249,40.723180,-73.994800,320
4,Central Park North & Adam Clayton Powell Blvd,E 110 St & Madison Ave,40.799484,-73.955613,40.796154,-73.947821,87

In [18]:
print(df_stations['trips'].sum())
print(df.shape)

10857189955
(29767925, 18)

### I noticed there are some duplicates, so let's get rid of those

In [32]:
df_stations_dupes = df_stations[df_stations.duplicated(subset=['start_station_name', 'end_station_name', 'trips'])]

In [33]:
df_stations_dupes

,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,trips
2,Lexington Ave & E 120 St,Amsterdam Ave & W 125 St,40.801307,-73.939817,40.813358,-73.956461,74
5,Central Park North & Adam Clayton Powell Blvd,E 110 St & Madison Ave,40.799484,-73.955613,40.796154,-73.947821,87
30,Grand St & Elizabeth St,Mott St & Prince St,40.718822,-73.995960,40.723180,-73.994800,335
33,Lafayette St & Jersey St,Allen St & Rivington St,40.724561,-73.995653,40.720196,-73.989978,387
40,Meserole Ave & Manhattan Ave,N 6 St & Bedford Ave,40.727086,-73.952991,40.717452,-73.958509,717
...,...,...,...,...,...,...,...
29767920,White St & Moore St,Bleecker St & Crosby St,40.704508,-73.935100,40.726156,-73.995102,4
29767921,Division St & Bowery,Centre St & Chambers St,40.714193,-73.996732,40.712733,-74.004607,532
29767922,W 30 St & 10 Ave,W 20 St & 8 Ave,40.752694,-74.002353,40.743453,-74.000040,504
29767923,5 Ave & 37 St,6 Ave & 9 St,40.652657,-74.002356,40.668127,-73.983776,63
29767924,W 30 St & 10 Ave,W 20 St & 8 Ave,40.752840,-74.002842,40.743453,-74.000040,504

In [36]:
df_stations_cleaned = df_stations.drop_duplicates(subset=['start_station_name', 'end_station_name', 'trips'])

In [37]:
df_stations_cleaned.head()

,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,trips
0,S 4 St & Wythe Ave,Kent Ave & S 11 St,40.712859,-73.965903,40.707645,-73.968415,94
1,Lexington Ave & E 120 St,Amsterdam Ave & W 125 St,40.801307,-73.939817,40.813358,-73.956461,74
3,Cleveland Pl & Spring St,Mott St & Prince St,40.722104,-73.997249,40.723180,-73.994800,320
4,Central Park North & Adam Clayton Powell Blvd,E 110 St & Madison Ave,40.799484,-73.955613,40.796154,-73.947821,87
6,E 2 St & 2 Ave,Allen St & Rivington St,40.725029,-73.990697,40.720196,-73.989978,188

In [38]:
df_stations_cleaned.shape

(1013379, 7)

In [44]:
# save the df_stations
#df_stations_cleaned.to_csv(os.path.join(path, 'Data','Prepared_Data', 'stations_lat_and_lng_trips.csv'))

In [46]:
import gc # this is garbage collector - speeds up performance
gc.collect()

0

# 4. Initialize an instance of a kepler.gl map.

In [50]:
# Create KeplerGl instance

m = KeplerGl(height = 700, data={"data_1": df_stations_cleaned})
m

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'data_1':                                      start_station_name  \
0                         …

# 5. Customize the output of your map—adjust the color of the points and add an arc that connects them. Pick a suitable color palette for each. In a Markdown section, explain what settings you changed and why.

The map was customized to clearly distinguish starting and ending points, as well as the connections (trips) between them. Starting points are represented in blue, while ending points are shown in red, ensuring a strong visual contrast between origins and destinations. An arc layer was added to connect these points, with the arc color transitioning from blue (source) to red (target) to visually represent the flow of trips. These changes improve the map's interpretability by aligning the color scheme across points and arcs, making it easier to understand the dataset at a glance.

# 6. Add a filter to your map and use it to see what the most common trips are in New York City. What else makes an impression? For example, are there any zones that seem particularly busy? Using some additional research, write a few sentences to make sense of that output.

The most common bike trips in New York City happen around popular places like Central Park and Times Square. These areas are busy because they attract both tourists and locals, making them popular starting and ending points for rides.  Busy zones like Central Park, Midtown Manhattan, and the Brooklyn Bridge see a lot of bike traffic. Central Park and Midtown are popular for recreation and tourism, while the Brooklyn Bridge is often used by commuters traveling between Manhattan and other boroughs. These patterns show how bike-sharing is used for both fun and daily travel in the city.

In [101]:
config = m.config

In [107]:
config

{'version': 'v1',
 'config': {'mapState': {'latitude': 40.7128,
   'longitude': -74.006,
   'zoom': 12}}}

In [105]:
# Define configuration to center map on New York City
config = {
    "version": "v1",
    "config": {
        "mapState": {
            "latitude": 40.7128,   # Latitude of NYC
            "longitude": -74.0060, # Longitude of NYC
            "zoom": 12,            # Adjust zoom level 
        }
    }
}
m.config = config

In [109]:
import json
with open("config.json", "w") as outfile:
    json.dump(config, outfile)

In [111]:
m.save_to_html(file_name = 'Bike Trips Aggregated.html', read_only = False, config = config)

Map saved to Bike Trips Aggregated.html!